<!-- <section style="height: 100vh; width: 100%;"></section> -->
<footer class='footer'>
    <div class='container'>

        <div class='footer-top'>
            <ul class='footer-top__tabs'>
                <li class='menu__item'>
                    <a href='/' class='menu__link'>Home</a>
                </li>
                <li class='menu__item'>
                    <a href='#' class='menu__link'>Case Studies</a>
                </li>
                <li class='menu__item'>
                    <a href='#' class='menu__link'>Blog</a>
                </li>
                <li class='menu__item'>
                    <a href='#' class='menu__link'>Service</a>
                </li>
            </ul>
            <ul class='footer-top__icons'>
                <li class='menu__item'>
                    <i class='fa-brands fa-facebook'></i>
                </li>
                <li class='menu__item'>
                    <i class='fa-brands fa-instagram'></i>
                </li>
                <li class='menu__item'>
                    <i class='fa-brands fa-linkedin'></i>
                </li>
            </ul>
        </div>
        <div class='content__tabs'>
            <ul class='tab'>
                <li class='tab__header'>
                    Quick links
                </li>
                <li class='tab__item'>
                    Home
                </li>
                <li class='tab__item'>
                    About us
                </li>
                <li class='tab__item'>
                    Offers
                </li>
                <li class='tab__item'>
                    Contact us
                </li>
            </ul>
            <ul class='tab'>
                <li class='tab__header'>
                    About
                </li>
                <li class='tab__item'>
                    How it work
                </li>
                <li class='tab__item'>
                    Our packages
                </li>
                <li class='tab__item'>
                    Promotions
                </li>
                <li class='tab__item'>
                    Refer a friend
                </li>
            </ul>
            <ul class='tab'>
                <li class='tab__header'>
                    Help Centre
                </li>
                <li class='tab__item'>
                    Payments
                </li>
                <li class='tab__item'>
                    Shipping
                </li>
                <li class='tab__item'>
                    Product returns
                </li>
                <li class='tab__item'>
                    FAQs
                </li>
            </ul>
        </div>
    </div>
</footer>