<header class='header'>
    <div class='header__logo'>
        <a href='/'>
            <img src='./img/logo.png' />
            <span>Testing Page</span>
        </a>
    </div>
    <nav class='header__nav'>
        <div class='menu-icon'>
            <i class='fa-solid fa-bars'></i>
        </div>
        <ul class='nav__menu'>
            <div class='close-btn'>
                <i class='fa-solid fa-close'></i>
            </div>
            <li class='menu__item'>
                <a href='/' class='menu__link'>Home</a>
            </li>
            <li class='menu__item'>
                <a href='/#features' class='menu__link'>Features</a>
            </li>
            <li class='menu__item'>
                <a href='/#portfolios' class='menu__link'>Portfolio</a>
            </li>
            <li class='menu__item'>
                <a href='/#testimonial' class='menu__link'>Testimonial</a>
            </li>
            <li class='menu__item'>
                <a href='/login' class='button pd-3 rd-5'>
                    Log in
                </a>
            </li>
            <li class='menu__item'>
                <a href='/signup' class='btn btn-primary'>
                    Sign up
                </a>
            </li>
        </ul>
    </nav>
</header>